<h2>Pretrazi pisce</h2>
<form action="/authors" method="GET">
    <label>Ime</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Pretrazi</button>
</form>
<br>
<% authors.forEach(author => { %>
    <div><%= author.name %></div>
    <a href="/authors/<%= author.id %>">Prikazi</a>
    <a href="/authors/<%= author.id %>/edit">Izmeni</a>
    <%- include('../partials/deleteForm',
                { url: `/authors/${author.id}` }) %>
<% }) %>